@page "/Profile"

@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Policy="User">
    <div class="mt-6 p-6 max-w-l  bg-white rounded-xl shadow-md flex-wrap items-center border border-gray-300">
        <h1 class="text-2xl text-center mb-8">Hej @context.User.Identity?.Name</h1>
        
        <div class="bg-red-200">
            Registrere allergier
            <ul>
                <li>Ingrediensliste</li>
                <li>Fødevaregruppeliste</li>
            </ul>
        </div>
    </div>
</AuthorizeView>

@code {
    
}