@page "/SuperSecretPage"
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Policy = "SignedIn")]

<h3>SuperSecretPage</h3>

<AuthorizeView>
    <p>Welcome @context.User.Identity.Name</p>
    <p>Sshhh!</p>
</AuthorizeView>

@code {

}