@page "/SuperSecretPage"
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Policy = "SignedIn")]

<h3>SuperSecretPage</h3>

<p>Welcome @context.User.Identity.Username</p>
<p>Sshhh!</p>

@code {
    
}