@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background-color: #d8d8d8;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M0 0h20v1H0z' fill='%23d30606' fill-opacity='0.10' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.nametag{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    src: url('https://fonts.gstatic.com/s/archivo/v9/k3kPo8UDI-1M0wlSV9XAw6lQkqWY8Q82sLydOxI.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.img-container {
    position: relative;
    text-align: center;
}

.img-txt-center {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}