<div class="mt-6 p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 border border-gray-300 flex flex-wrap">
    <p class="text-gray-600">
        Page loading...
    </p>
</div>

@code
{
    
}
